---
import { CollectionEntry, getCollection } from 'astro:content'
import Layout from '@layouts/Layout.astro'
import * as siteData from '@data/site.json'
import { Image } from 'astro:assets'

export async function getStaticPaths() {
  const posts = await getCollection('landmarks', ({ data }) => {
    return data.draft !== true
  })

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post }
  }))
}

interface Props {
  post: CollectionEntry<'landmarks'>
}

const { post } = Astro.props
const { Content } = await post.render()
const bodyClass = 'landmarks'
const mainClass = ''
const pageTLDR = siteData.mission

const str = post.slug
const modStr = str[0].toUpperCase() + str.slice(1)
const pageTitle = modStr
---

<Layout
  {...post.data}
  mainClass={mainClass}
  bodyClass={bodyClass}
  pageTitle={pageTitle}
  pageTLDR={pageTLDR}
  ogImage={post.data.cover}>
  <div class="container">
    <h2>{post.data.building}</h2>
    <div class="architect">{post.data.architect}</div>
    <div class="location">
      {post.data.location}, {post.data.country}
    </div>
    <div class="year">{post.data.year}</div>
    <br />
  </div>
  <Content />
</Layout>

<style lang="scss">
  .container {
    padding-bottom: var(--spacing);
  }

  .year:before {
    content: 'Built year: ';
    padding-right: 10px;
    font-size: 80%;
    opacity: 0.75;
  }
  .year:empty {
    display: none;
  }

  .architect:before {
    content: 'Architect: ';
    padding-right: 10px;
    font-size: 80%;
    opacity: 0.75;
  }
  .architect:empty {
    display: none;
  }

  .location:before {
    content: 'Location: ';
    padding-right: 10px;
    font-size: 80%;
    opacity: 0.75;
  }
  .location:empty {
    display: none;
  }
</style>
