---
import Layout from '@layouts/Layout.astro'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
const jobs = await getCollection('landmarks')

interface Props {
  bodyClass: string
  mainClass: string
  pageTitle: string
  pageTLDR: string
}

const bodyClass = 'landmarks'
const mainClass = 'no_padding'
const pageTitle = 'Architecture Photography | Landmarks'
const pageTLDR = 'Try do this with the latest iPhone!'
---

<Layout
  bodyClass={bodyClass}
  pageTitle={pageTitle}
  mainClass={mainClass}
  pageTLDR={pageTLDR}
  ogImage="../og_landmarks.jpg">
  <div class="container">
    <ul>
      {
        jobs.map((job) => (
          <li>
            <a href={`/landmarks/${job.slug}`}>
              {job.data.building}, {job.data.location}, {job.data.country}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
