---
import Layout from '@layouts/Layout.astro'
import Card from '@components/Card.astro'
import { getCollection } from 'astro:content'

const jobs = (
  await getCollection('landmarks', ({ data }) => {
    return data.draft !== true
  })
).sort((a, b) => b.data.year - a.data.year)

interface Props {
  bodyClass: string
  mainClass: string
  pageTitle: string
  pageTLDR: string
}

const bodyClass = 'landmarks'
const mainClass = 'no_padding'
const pageTitle = 'Landmarks Architecture Photography'
const pageTLDR = 'Try do this with the latest iPhone!'
---

<Layout
  bodyClass={bodyClass}
  pageTitle={pageTitle}
  mainClass={mainClass}
  pageTLDR={pageTLDR}
  ogImage="../og_landmarks.jpg">
  <div class="container">
    {
      jobs.map((job) => (
        <a href={`/landmarks/${job.slug}`}>
          <Card
            building={job.data.building}
            country={job.data.country}
            cover={job.data.cover}
          />
        </a>
      ))
    }
  </div>
</Layout>

<style lang="scss">
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  a {
    user-select: none !important;
    display: block;
    padding-bottom: var(--spacing);
    width: 100%;
    @media (min-width: 576px) {
      width: 48%;
      padding: 1% 1% var(--spacing) 1%;
    }

    &:hover {
      text-decoration: none;
    }
  }
</style>
