---
import { CollectionEntry, getCollection } from 'astro:content'
import Layout from '@layouts/Layout.astro'
import * as siteData from '@data/site.json'
//import { Image } from 'astro:assets'

export async function getStaticPaths() {
  const posts = await getCollection('commercial', ({ data }) => {
    return data.draft !== true
  })

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post }
  }))
}

interface Props {
  post: CollectionEntry<'commercial'>
}

const { post } = Astro.props
const { Content } = await post.render()

const collection = 'commercial'
const bodyClass = collection
const mainClass = ''
const pageTLDR =
  siteData.mission +
  ' | ' +
  post.data.building +
  ' hired ' +
  siteData.brand +
  ' for that. Have a look!'

const str = post.slug
const modStr = str[0].toUpperCase() + str.slice(1)
const pageTitle = modStr
---

<Layout
  {...post.data}
  mainClass={mainClass}
  bodyClass={bodyClass}
  pageTitle={pageTitle}
  pageTLDR={pageTLDR}
  ogImage={post.data.cover.src}>
  <div class="wide">
    <h2>{post.data.building}</h2>
    <div class="architect">{post.data.architect}</div>
    <div class="location">
      {post.data.location}, {post.data.country}
    </div>
    <div class="year">{post.data.year}</div>
    <br />

    <Content />
  </div>

  <div class="wide flex">
    <a role="button" class="outline contrast" href={'/' + collection + '/'}>
      See all {collection.toUpperCase()} works</a
    >
  </div>
</Layout>

<style lang="scss"></style>
