---
import Layout from '@layouts/Layout.astro'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
const jobs = await getCollection('commercial')

interface Props {
  bodyClass: string
  mainClass: string
  pageTitle: string
  pageTLDR: string
}

const bodyClass = 'commercial'
const mainClass = 'no_padding'
const pageTitle = 'Rocco Marosi'
const pageTLDR =
  'In commercial markets, HIGH QUALITY PHOTOGRAPHY can help your business make it to the next level'
---

<Layout
  bodyClass={bodyClass}
  pageTitle={pageTitle}
  mainClass={mainClass}
  pageTLDR={pageTLDR}>
  <div class="container">
    <ul>
      {
        jobs.map((job) => (
          <li>
            <a href={`/commercial/${job.slug}`}>
              {job.data.building}, {job.data.location}, {job.data.country}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
