---
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'
import Card from '@components/CardHome.astro'

const featRes = await getCollection('residential', ({ data }) => {
  return data.featured === true
})

const featCom = await getCollection('commercial', ({ data }) => {
  return data.featured === true
})

const featLan = await getCollection('landmarks', ({ data }) => {
  return data.featured === true
})

interface Props {
  pageTitle: string
  pageTLDR: string
  bodyClass: string
  mainClass: string
  ogImage?: string
}

const pageTitle = 'Architecture Photography'
const pageTLDR =
  'To compete on today markets, your property deserves HIGH QUALITY PHOTOGRAPHY'
const bodyClass = 'home'
const mainClass = 'no_padding'
---

<Layout
  bodyClass={bodyClass}
  pageTitle={pageTitle}
  mainClass={mainClass}
  pageTLDR={pageTLDR}
  ogImage="../og_home.jpg">
  <div class="wide flex">
    {
      featRes.map((job) => (
        <a class="big_link" href={`/residential/${job.slug}`}>
          <Card
            building={job.data.building}
            country={job.data.country}
            cover={job.data.cover}
          />
        </a>
      ))
    }

    {
      featCom.map((job) => (
        <a class="big_link" href={`/commercial/${job.slug}`}>
          <Card
            building={job.data.building}
            country={job.data.country}
            cover={job.data.cover}
          />
        </a>
      ))
    }
    {
      featLan.map((job) => (
        <a class="big_link" href={`/landmarks/${job.slug}`}>
          <Card
            building={job.data.building}
            country={job.data.country}
            cover={job.data.cover}
          />
        </a>
      ))
    }
  </div>
</Layout>
<style lang="scss"></style>
