---
import Layout from '@layouts/Layout.astro'
import * as data from '@data/home.json'
import { Image } from 'astro:assets'

const allProjects = data.projects
const projects = allProjects

interface Props {
  bodyClass: string
  mainClass: string
  pageTitle: string
  pageTLDR: string
}

const bodyClass = 'home'
const mainClass = 'no_padding'
const pageTitle = 'Rocco Marosi'
const pageTLDR =
  'To compete on today markets, your property deserve HIGH QUALITY PHOTOGRAPHY'
---

<Layout
  bodyClass={bodyClass}
  pageTitle={pageTitle}
  mainClass={mainClass}
  pageTLDR={pageTLDR}>
  <div class="container">
    {
      projects.map((project) => (
        <>
          <div>
            <small>
              <span>{project.building}</span>
              <span>{project.location}</span>
              <span>{project.country}</span> •
              <span>
                {project.architect}, <small>photo © Rocco Marosi</small>
              </span>
            </small>
            <br />
          </div>
        </>
      ))
    }
  </div>
</Layout>
