---
import Layout from '@layouts/Layout.astro'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
const jobs = await getCollection('residential')

interface Props {
  bodyClass: string
  mainClass: string
  pageTitle: string
  pageTLDR: string
}

const bodyClass = 'residential'
const mainClass = 'no_padding'
const pageTitle = 'Architecture Photography | Residential'
const pageTLDR =
  'In today residential markets, HIGH QUALITY PHOTOGRAPHY is paramount to compete and get noticed.'
---

<Layout
  bodyClass={bodyClass}
  pageTitle={pageTitle}
  mainClass={mainClass}
  pageTLDR={pageTLDR}
  ogImage="../og_residential.jpg">
  <div class="container">
    {
      jobs.map((job) => (
        <div>
          <a href={`/residential/${job.slug}`}>
            <Image
              src={job.data.cover}
              alt={job.data.building}
              width={1920}
              height={1280}
            />
            <br />
            {job.data.building}, {job.data.location}, {job.data.country}
          </a>
        </div>
      ))
    }
  </div>
</Layout>
