---
import CardFull from '@components/CardFull.astro'
import Layout from '@layouts/Layout.astro'
//import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
const jobs = await getCollection('residential')

interface Props {
  bodyClass: string
  mainClass: string
  pageTitle: string
  pageTLDR: string
}

const bodyClass = 'residential'
const mainClass = 'no_padding'
const pageTitle = 'Architecture Photography | Residential'
const pageTLDR =
  'In today residential markets, HIGH QUALITY PHOTOGRAPHY is paramount to compete and get noticed.'
---

<Layout
  bodyClass={bodyClass}
  pageTitle={pageTitle}
  mainClass={mainClass}
  pageTLDR={pageTLDR}
  ogImage="../og_residential.jpg">
  <div class="container">
    {
      jobs.map((job) => (
        <div>
          <a href={`/residential/${job.slug}`}>
            <CardFull
              building={job.data.building}
              country={job.data.country}
              location={job.data.location}
              cover={job.data.cover}
            />
          </a>
        </div>
      ))
    }
  </div>
</Layout>
