---
import Junglestar from '@components/Junglestar.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import Stylo from '@components/Stylo.astro'
import * as siteData from '@data/site.json'
import * as repoData from 'package.json'
import GoogleAnalytics from '@scripts/GoogleAnalytics.astro'
import AppendToCopyAction from '@scripts/AppendToCopyAction.astro'

interface Props {
  pageTitle: string
  pageTLDR: string
  bodyClass: string
  mainClass: string
  ogImage?: string
}
const { pageTitle, pageTLDR, bodyClass, mainClass, ogImage } = Astro.props

const makeTitle = siteData.brand + ' ' + pageTitle
const makeDescription = pageTLDR
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <Junglestar />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{makeTitle}</title>

    <meta name="description" content={makeDescription} />
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" type="image/svg+xml" href="/favicons/j.svg" />
    <link rel="canonical" href={canonicalURL} />

    <!-- ROKS REPO -->
    <meta name="version" content={repoData.version} />

    <!-- ROKS OG -->
    <meta property="og:url" content={Astro.site} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={makeTitle} />
    <meta property="og:description" content={makeDescription} />
    <meta property="og:image" content={ogImage} />

    <!-- ROKS TWITTER -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.site} />
    <meta name="twitter:title" content={makeTitle} />
    <meta name="twitter:description" content={makeDescription} />
    <meta name="twitter:image" content={ogImage} />

    <slot name="head" />
  </head>

  <body class={bodyClass}>
    <div id="top"></div>
    <Header />
    <main class={mainClass}>
      <slot />
    </main>

    <Footer />
    <slot name="after-footer" />

    <GoogleAnalytics />
    <Stylo />
    <AppendToCopyAction />
  </body>
</html>
